
	select src.* from  [prl].[ACCOUNTING_DOC_HEADER] src
		left join [dbo].[ACCOUNTING_DOC_HEADER] tgt
		 ON  [src].[Accounting_Document_SK]	= [tgt].[Accounting_Document_SK]
		 And [src].[Company_SK]		        = [tgt].[Company_SK]		       		
		 And [src].[Fiscal_Year]	        = [tgt].[Fiscal_Year]	     
		 where 
		 [tgt].[Accounting_Document_SK] is null
		 and [tgt].[Company_SK]		    is null
		 and [tgt].[Fiscal_Year]	    is null   




	TRUNCATE TABLE [prl].[ACCOUNTING_DOC_HEADER];


	select * from [prl].[ACCOUNTING_DOC_HEADER]


	INSERT INTO [prl].[ACCOUNTING_DOC_HEADER] (
		   [Accounting_Document_SK]
         , [Company_SK]
         , [Fiscal_Year]
         , [Accounting_Document_ID]
         , [Client_ID]
         , [Document_Type_ID]
         , [Fiscal_Period]
         , [Transaction_Code]
         , [Reference_Doc_Number]
         , [Reverse_Accounting_Document_SK]
         , [Reverse_Doc_Fiscal_Year]
         , [Document_Header_Text]
         , [Currency_Key]
         , [Exchange_Rate]
         , [Document_Status]
         , [Previous_Posted_Period_IND]
         , [Business_Transaction]
         , [Batch_Input_Session_Name]
         , [Reference_Transaction]
         , [Reference_Key]
		 , [Reference_Billing_Document_SK]
         , [Financial_Management_Area]
         , [Local_Currency]
         , [Source_Courency_Translation_2]
         , [Source_Courency_Translation_3]
         , [Second_Local_Currency_Translation_Date_Type]
         , [Third_Local_Currency_Translation_Date_Type]
         , [Reverse_Posting_Planned_DT]
         , [Calculated_Tax_IND]
         , [Second_Local_Currency_Type]
         , [Third_Local_Currency_Type]
         , [Source_Company_SK]
         , [Before_Due_Date_Payment_IND]
         , [Reversal_Reason]
         , [Parked_Doc_User_Name]
         , [Discount_Doc_IND]
         , [Doc_Header_Internal_Reference_Key_1]
         , [Doc_Header_Internal_Reference_Key_2]
         , [Reversal_or_Reversed_Doc_Specifier]
         , [Reversal_Reason_IS_PS_Request]
         , [Payment_Transfer_Type]
         , [Payment_Card_Type]
         , [Payment_Card_Number]
         , [Treasury_Offset_Status]
         , [User_Name]
         , [Translation_DT]
         , [Transaction_Updated_DT]
         , [Document_DT]
         , [Posting_DT]
         , [Entry_DT]
         , [Entry_TM]
         , [Entry_DTTM]
         , [Updated_DT]
         , [OPFLAG]
         , [ETL_Reference_DT]
         , [ETL_Loading_DTTM]
         , [ETL_Batch_ID])


	SELECT accounting_doc_sk.[Finance_SK] AS [Accounting_Document_SK]
         , COALESCE(company_sk.[Organization_SK], 0) AS [Company_SK]
         , src.[Fiscal_Year]
         , src.[Accounting_Document_ID]
         , src.[Client_ID]
         , src.[Document_Type_ID]
         , src.[Fiscal_Period]
         , src.[Transaction_Code]
         , src.[Reference_Doc_Number]
         , reverse_accounting_doc_sk.[Finance_SK] AS [Reverse_Accounting_Document_SK]
         , src.[Reverse_Doc_Fiscal_Year]
         , src.[Document_Header_Text]
         , src.[Currency_Key]
         , src.[Exchange_Rate]
         , src.[Document_Status]
         , src.[Previous_Posted_Period_IND]
         , src.[Business_Transaction]
         , src.[Batch_Input_Session_Name]
         , src.[Reference_Transaction]
         , src.[Reference_Key]
		 , CASE WHEN src.[Reference_Transaction] = 'VBRK' THEN reference_billing_doc_sk.[Sales_SK] ELSE 0 END AS [Reference_Billing_Document_SK]
         , src.[Financial_Management_Area]
         , src.[Local_Currency]
         , src.[Source_Courency_Translation_2]
         , src.[Source_Courency_Translation_3]
         , src.[Second_Local_Currency_Translation_Date_Type]
         , src.[Third_Local_Currency_Translation_Date_Type]
         , src.[Reverse_Posting_Planned_DT]
         , src.[Calculated_Tax_IND]
         , src.[Second_Local_Currency_Type]
         , src.[Third_Local_Currency_Type]
         , COALESCE(source_company_sk.[Organization_SK], 0) AS [Source_Company_SK]
         , src.[Before_Due_Date_Payment_IND]
         , src.[Reversal_Reason]
         , src.[Parked_Doc_User_Name]
         , src.[Discount_Doc_IND]
         , src.[Doc_Header_Internal_Reference_Key_1]
         , src.[Doc_Header_Internal_Reference_Key_2]
         , src.[Reversal_or_Reversed_Doc_Specifier]
         , src.[Reversal_Reason_IS_PS_Request]
         , src.[Payment_Transfer_Type]
         , src.[Payment_Card_Type]
         , src.[Payment_Card_Number]
         , src.[Treasury_Offset_Status]
         , src.[User_Name]
         , src.[Translation_DT]
         , src.[Transaction_Updated_DT]
         , src.[Document_DT]
         , src.[Posting_DT]
         , src.[Entry_DT]
         , src.[Entry_TM]
         , src.[Entry_DTTM]
         , src.[Updated_DT]
		 , src.[OPFLAG]		
		 , '2023-12-31'																	  AS [ETL_Reference_DT]
		 , CONVERT(DATETIME, GETDATE() AT TIME ZONE 'UTC' AT TIME ZONE 'E. Europe Standard Time') AS [ETL_Loading_DTTM]
		 , -2999																		  AS [ETL_Batch_ID]
	FROM (

	SELECT    [BUKRS_Κωδικός_Εταιρίας]																					AS [Company_ID]
			, CAST([GJAHR_Οικονομική_Χρήση] AS INT)																		AS [Fiscal_Year]
			, [BELNR_Αριθμός_Λογιστικής_Εγγραφής]																	AS [Accounting_Document_ID]
			, [MANDT_Εντολέας]																						AS [Client_ID]
			, [BLART_Τύπος_εγγράφου]																					AS [Document_Type_ID]
			, [MONAT_Οικονομική_Περίοδος]																					AS [Fiscal_Period]
			, [TCODE_Κωδικός_κίνησης]																				AS [Transaction_Code]
			, [XBLNR_Αριθμός_Εγγραφής_Αναφοράς]																		AS [Reference_Doc_Number]
			, [XBLNR_Αριθμός_Εγγραφής_Αναφοράς]																		AS [Reference_Billing_Document_ID]
			, [STBLG_Αντιλογισμός_Αριθμού_Εγγραφής]																		AS [Reverse_Accounting_Document_ID]
			, CAST([STJAH_Αντιλογισμός_οικονομικής_χρήσης_εγγραφής] AS INT)														AS [Reverse_Doc_Fiscal_Year]
			, [BKTXT_Κείμενο_Κεφαλίδας_Εγγράφου]																			AS [Document_Header_Text]
			, [WAERS_Κλειδί_Νομίσματος]																					AS [Currency_Key]
			, [KURSF_Συναλλαγματική_ισοτιμία]																					AS [Exchange_Rate]
			, [BSTAT_Κατάσταση_Εγγραφής]																				AS [Document_Status]
			, [XRUEB_Δείκτης:_Η_εγγραφή_καταχωρήθηκε_σε_προηγούμενη_περίοδο]											AS [Previous_Posted_Period_IND]
			, [GLVOR_Επιχειρ.Συναλλαγή]																			AS [Business_Transaction]
			, [GRPID_Ονομα_Συνόδου_Μαζικής_Εισόδου]																		AS [Batch_Input_Session_Name]
			, [AWTYP_Διαδικασία_αναφοράς]																			AS [Reference_Transaction]
			, [AWKEY_Κλειδί_Αναφοράς]																					AS [Reference_Key]
			, [FIKRS_Περιοχή_Οικονομικής_Διαχείρισης]																		AS [Financial_Management_Area]
			, [HWAER_Τοπικό_Νόμισμα]																				AS [Local_Currency]
			, [BASW2_Νόμισμα_Πηγής_για_Μετατροπή_Νομίσματος]														AS [Source_Courency_Translation_2]
			, [BASW3_Νόμισμα_Πηγής_για_Μετατροπή_Νομίσματος]														AS [Source_Courency_Translation_3]
			, [UMRD2_Τύπος_Ημέρας_Μετατροπής_για_Δεύτερο_Τοπικό_Νόμισμα]												AS [Second_Local_Currency_Translation_Date_Type]
			, [UMRD3_Τύπος_Ημέρας_Μετατροπής_για_Τρίτο_Τοπικό_Νόμισμα]												AS [Third_Local_Currency_Translation_Date_Type]
			, [conf].[CONVERT_SAP_DATE]([STODT_Προγραμματισμένη_Ημερομηνία_Καταχώρισης_Αντιλογισμού], NULL)							AS [Reverse_Posting_Planned_DT]
			, [XMWST_Υπολογισμός_φόρου_αυτόματα]																	AS [Calculated_Tax_IND]
			, [CURT2_Τύπος_Δεύτερου_Τοπικού_Νομίσματος]														AS [Second_Local_Currency_Type]
			, [CURT3_Τύπος_Τρίτου_Τοπικού_Νομίσματος]															AS [Third_Local_Currency_Type]
			, [AUSBK_Αρχικός_Κωδικός_Εταιρίας]																			AS [Source_Company_ID]
			, [XWVOF_Δείκτης_:Πληρωμή_συναλλαγ.πελάτη_πριν_ημερ.οφειλής]									AS [Before_Due_Date_Payment_IND]
			, [STGRD_Αιτία_για_Αντιλογισμό]																			AS [Reversal_Reason]
			, [PPNAM_Ονομασία_Χρήστη_ο_Οποίος_Τοποθέτησε_την_Εγγραφή]															AS [Parked_Doc_User_Name]
			, [ADISC_Δείκτης:_η_καταχ.αντιπροσωπεύει_μία_εγγραφή_έκπτωσης]												AS [Discount_Doc_IND]
			, [XREF1_HD_Εσωτερικό_Κλειδί_Αναφοράς_1_για_Κεφαλίδα_Εγγραφής]												AS [Doc_Header_Internal_Reference_Key_1]
			, [XREF2_HD_Εσωτερικό_Κλειδί_Αναφοράς_για_Κεφαλίδα_Εγγραφής]												AS [Doc_Header_Internal_Reference_Key_2]
			, [XREVERSAL_Καθορ.αν_η_εγγραφή_είναι_αντιλογισμού_ή_αντιλογισμένη]									AS [Reversal_or_Reversed_Doc_Specifier]
			, [PSOSG_Αιτία_για_αντιλογισμό_-_Απαιτήσεις_IS-PS]															AS [Reversal_Reason_IS_PS_Request]
			, [FM_UMART_Τύπος_Μεταφοράς_Πληρωμής]																	AS [Payment_Transfer_Type]
			, [CCINS_Κάρτες_πληρωμής:Τύπος_κάρτας]																		AS [Payment_Card_Type]
			, [CCNUM_Κάρτες_πληρωμής:_Αριθμός_κάρτας]																	AS [Payment_Card_Number]
			, [OFFSET_STATUS_Κατάσταση_Συμψηφισμού_Διαχείρισης_Κεφαλαίων]																AS [Treasury_Offset_Status]
			, [USNAM_Ονομα_χρήστη]																						AS [User_Name]
			, [conf].[CONVERT_SAP_DATE]([WWERT_Ημερομηνία_μετατροπής], NULL)												AS [Translation_DT]
			, [conf].[CONVERT_SAP_DATE]([AEDAT_Ημερομηνία_Τελευταίας_Αλλαγής_Εγγραφής_ανά_Κίνηση], NULL)				AS [Transaction_Updated_DT]
			, [conf].[CONVERT_SAP_DATE]([BLDAT_Ημερομηνία_Παραστατικού_σε_Παραστατικό], NULL)									AS [Document_DT]
			, [conf].[CONVERT_SAP_DATE]([BUDAT_Ημερομηνία_Καταχώρισης_στο_Παραστατικό], NULL)									AS [Posting_DT]
			, [conf].[CONVERT_SAP_DATE]([CPUDT_Ημ_νία_Καταχώρισης_Λογιστικής_Εγγραφής], NULL)					AS [Entry_DT]
			, [CPUTM_Χρόνος_Καταχώρισης]																					AS [Entry_TM]
			, [conf].[CONVERT_SAP_DATE]([CPUDT_Ημ_νία_Καταχώρισης_Λογιστικής_Εγγραφής],[CPUTM_Χρόνος_Καταχώρισης])	AS [Entry_DTTM]
			, [conf].[CONVERT_SAP_DATE]([UPDDT_Ημερομηνία_της_τελευταίας_ενημέρωσης_εγγραφής], NULL)								AS [Updated_DT]
			, CASE WHEN NULLIF(TRIM([OPFLAG]), '') IS NULL THEN N'I' ELSE [OPFLAG] END								AS [OPFLAG]
			, 'SAP'																									AS [Source_System_Code]
			, 'BKPF'																								AS [Accounting_Doc_Source_Entity_Code]
			, 'T001'																								AS [Company_Source_Entity_Code]
			, 'VBRK'																								AS [Billing_Source_Entity_Code]
			, 'BKPF'																								AS [Reverse_Accounting_Doc_Source_Entity_Code]
			, 'T001'																								AS [Source_Company_Source_Entity_Code]
		   FROM [temp].[BKPF]
		

	) src
	INNER JOIN [sgk].[FINANCE] accounting_doc_sk
		--	ON accounting_doc_sk.[Client_ID] = src.[Client_ID]
		   ON accounting_doc_sk.[Finance_ID] = src.[Accounting_Document_ID]
		   AND accounting_doc_sk.[Source_System_Code] = src.[Source_System_Code]
		   AND accounting_doc_sk.[Source_Entity_Code] = src.[Accounting_Doc_Source_Entity_Code]
	INNER JOIN [sgk].[ORGANIZATION] company_sk
			ON company_sk.[Client_ID] = src.[Client_ID]
		   AND company_sk.[Organization_ID] = src.[Company_ID]
		   AND company_sk.[Source_System_Code] = src.[Source_System_Code]
		   AND company_sk.[Source_Entity_Code] = src.[Company_Source_Entity_Code]
	 LEFT JOIN [sgk].[SALES] reference_billing_doc_sk
		--	ON reference_billing_doc_sk.[Client_ID] = src.[Client_ID]
		   ON reference_billing_doc_sk.[Sales_ID] = src.[Reference_Key]
		   AND reference_billing_doc_sk.[Source_System_Code] = src.[Source_System_Code]
		   AND reference_billing_doc_sk.[Source_Entity_Code] = src.[Billing_Source_Entity_Code]
		   AND src.[Reference_Transaction] = [Billing_Source_Entity_Code]
	 LEFT JOIN [sgk].[FINANCE] reverse_accounting_doc_sk
			ON reverse_accounting_doc_sk.[Client_ID] = src.[Company_ID]
		   AND reverse_accounting_doc_sk.[Finance_ID] = src.[Reverse_Accounting_Document_ID]
		   AND reverse_accounting_doc_sk.[Source_System_Code] = src.[Source_System_Code]
		   AND reverse_accounting_doc_sk.[Source_Entity_Code] = src.[Reverse_Accounting_Doc_Source_Entity_Code]	  
	LEFT JOIN [sgk].[ORGANIZATION] source_company_sk
			ON source_company_sk.[Client_ID] = src.[Client_ID]
		   AND source_company_sk.[Organization_ID] = src.[Source_Company_ID]
		   AND source_company_sk.[Source_System_Code] = src.[Source_System_Code]
		   AND source_company_sk.[Source_Entity_Code] = src.[Source_Company_Source_Entity_Code]